InlineSvgPicker/.vs/

InlineSvgPicker/obj/

InlineSvgPicker/packages/

InlineSvgPicker/InlineSvgPickerPackage/obj/

InlineSvgPicker/InlineSvgPicker/App_Data/Logs/

InlineSvgPicker/InlineSvgPicker/App_Data/Cache/

InlineSvgPicker/InlineSvgPicker/App_Data/packages/

InlineSvgPicker/InlineSvgPicker/App_Data/TEMP/

InlineSvgPicker/InlineSvgPicker/bin/

InlineSvgPicker/InlineSvgPicker/obj/

InlineSvgPicker/InlineSvgPicker/Umbraco/

InlineSvgPicker/InlineSvgPicker/App_Plugins/InlineSvgPicker

*.user
