<div ng-controller="inlineSvgPickerOverlayController as vm">

  <umb-editor-view>

    <umb-editor-header name="model.title" name-locked="true" hide-alias="true" hide-icon="true" hide-description="true">
    </umb-editor-header>

    <umb-editor-container>
      <div class="umb-control-group">
        <div class="form-search">
          <i class="icon-search"></i>
          <input type="text" style="width: 100%" ng-model="searchTerm"
            class="umb-search-field search-query input-block-level" localize="placeholder"
            placeholder="@placeholders_filter" umb-auto-focus no-dirty-check>
        </div>
      </div>

      <umb-load-indicator ng-if="loading"></umb-load-indicator>

      <div class="umb-control-group" ng-show="!loading && filtered.length > 0 ">
        <ul class="umb-iconpicker" ng-class="color" ng-show="icons">
          <li class="umb-iconpicker-item"
            ng-repeat="icon in filtered = (icons | filter: searchTerm) track by $id(icon)">
            <a href="#" title="{{icon}}" ng-click="selectIcon(icon)" prevent-default>
              <svg class="inline-svg-picker-icon" width="100" height="100" viewBox="0 0 100 100">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ getSvgLink(icon) }}"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <umb-empty-state ng-if="filtered.length === 0" position="center">
        <localize key="defaultdialogs_noIconsFound">No icons were found.</localize>
      </umb-empty-state>
    </umb-editor-container>

    <umb-editor-footer>
      <umb-editor-footer-content-right>
        <umb-button action="close()" button-style="link" shortcut="esc" label-key="general_close" type="button">
        </umb-button>
      </umb-editor-footer-content-right>
    </umb-editor-footer>
  </umb-editor-view>
</div>